*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
button{
    padding: 12px 24px;
    background-color:#E0E0E0;
    border-radius:3px;
}
button:hover{
    background-color:green;
    color:white;
}